body {
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    font: bold 4em 'Righteous', cursive;
    color: #000;
    text-align: center;
    animation: appear 1s;
}

img {
    margin-top: 15%;
}

img:hover {
    color: #000;
    transform: scale(1.2);
}